@page "/orders"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BurgerGo.Domain
@using BurgerGo.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BurgerGo.Data.BurgerGoContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="orders/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Order">
    <PropertyColumn Property="order => order.UserId" />
    <PropertyColumn Property="order => order.TotalPrice" />
    <PropertyColumn Property="order => order.Status" />
    <PropertyColumn Property="order => order.DateCreated" />
    <PropertyColumn Property="order => order.DateUpdated" />
    <PropertyColumn Property="order => order.CreatedBy" />
    <PropertyColumn Property="order => order.UpdatedBy" />

    <TemplateColumn Context="order">
        <a href="@($"orders/edit?id={order.Id}")">Edit</a> |
        <a href="@($"orders/details?id={order.Id}")">Details</a> |
        <a href="@($"orders/delete?id={order.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private BurgerGoContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
